.App {
    text-align: center;
    background: #0D0B11;

    #progess-bar {
        border-color: #797585 !important
    }

    .slider {
        background: #797585;
    }

    .control-button {
        background: #797585;
    }

    .title {
        font-weight: bold;
    }

    .video-settings {
        background: #797585;
    }
    .video-settings-header {
        background: #0D0B11;
    }
    .accordion-button:focus {
        border-color: black !important;
    }
    .accordion-body {
        background: #B0A6CA
    }
}
